<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        *{
            padding:0;
            margin:0;
            background-color:slategrey;
        }
        h1{
            font-family: Montserrat, sans-serif;
            color:goldenrod;
            padding: 10px;
        }
        p{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding: 10px;
            font-size: 20px;
        }
        .content img{
            width:100%;
            height:400px;
        }
    </style>
    
    <div class="content">
        <img src="https://www.fpcsk12.com/cms/lib/AL02210034/Centricity/ModuleInstance/33/large/FPHS.jpg" width=25% alt="Fort Payne High School">
        <h1>My School</h1>
        <p>I currently attend Fort Payne Highschool in the United States.
            It has around 1,000 students, and 50 faculty members. </p>
        <h1>My Interests/Hobbies</h1>
        <p>I enjoy learning about the natural sciences, such as biology and geology,
             and I enjoy reading during my free time. 
             I am a part of the cross country and track team at my school as well,
             and I love going on morning and afternoon runs</p>
    </div>
</body>
</html>