<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/calculator">
        <div>
            <label for="">
                <input type="number" name="value_1">
                Enter the first value:
            </label>
            <label for="">
                <input type="number" name="value_2">
                Enter the second value:
            </label>
            <label for="">
                <select name="operator" id="">
                    <option value="Addition">
                        +
                    </option>
                    <option value="Subtraction">
                        -
                    </option>
                    <option value="Multiplication">
                        *
                    </option>
                    <option value="Division">
                        /
                    </option>
                </select>
                Choose the operation:
            </label>
                <input type="submit">
        </div>
    </form>
</body>
</html>