<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<style>
    body{
        background: none;
    }
</style>
<body>
    <div class="info">
        <h1>Certificate of Course Completion</h1>
        <p>This certificate has been awarded to:</p>
        <h4>{{name}}</h4>
        <h3>Building a Positive Workplace Culture</h3>
        <h3>Award Date: {{date}}</h3>
        <img src="../static/certificate.jpg" alt="certificate badge">
    </div>
</body>
</html>