<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Character Count Program</h1>
    <form action="/chr_count/" method="POST">
        <div>
            <label for="">
                Enter Text Here: 
            </label>
            <input type="text" name="user_text">
            <input type="submit">
        </div>
    </form>
    <h4>{{result}}</h4>
</body>
</html>
