<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <form action="/even_odd">
        <div>
            <label for="">
                Enter a number to find if it is even or odd: 
                <input type="text" name="user_str">
                <input type="submit">
            </label>
        </div>
    </form>
    <h5>{{result}}</h5>
</body>
</html>