<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="nav">
                <ul>
                    <li><a href="homepage.html" id="active"> HOME </a></li>
                    <li><a href="about_me.html"> ABOUT ME </a></li>
                    <li><a href="my_projects.html"> MY PROJECTS </a></li>
                </ul>
            </div>
        </div>
        <div class="sidebar1">
            Sidebar 1
        </div>
        <div class="main">
            <div class="content">
                <div class="image">
                    <img src="https://www.fpcsk12.com/cms/lib/AL02210034/Centricity/ModuleInstance/33/large/FPHS.jpg" alt="Fort Payne High School">
                </div>
                
                <h1>My School</h1>
                <p>I currently attend Fort Payne Highschool in the United States.
                    It has around 1,000 students, and 50 faculty members. </p>
                <h1>My Interests/Hobbies</h1>
                <p>I enjoy learning about the natural sciences, such as biology and geology,
                     and I enjoy reading during my free time. 
                     I am a part of the cross country and track team at my school as well,
                     and I love going on morning and afternoon runs</p>
            </div>
        </div>
        <div class="sidebar2">
            Sidebar 2
        </div>
        <div class="footer">
            Footer
        </div>
    </div>
</body>
</html>