<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/grades">
        <div>
            <label for="">
                Enter subject1 marks:
                <input type="number" name="subject1" max=100 min=0 required>
            </label>
            <label for="">
                Enter subject2 marks:
                <input type="number" name="subject2" max=100 min=0 required>
            </label>
            <label for="">
                Enter subject3 marks:
                <input type="number" name="subject3" max=100 min=0 required>
            </label>
            <label for="">
                Enter subject4 marks:
                <input type="number" name="subject4" max=100 min=0 required>
            </label>
            <label for="">
                Enter subject5 marks:
                <input type="number" name="subject5" max=100 min=0 required>
            </label>
            <input type="submit">
        </div>
    </form>
</body>
</html>