<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Interests</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="nav">
        <ul>
            <li><a href="about_me.html"> ABOUT ME </a></li>
            <li><a href="my_projects.html"> MY PROJECTS </a></li>
            <li><a href="my_interests.html"> My Interests</a></li>
            <li><a href="./q1.html">Quiz</a></li>
            <li><a href="./leaderboard.html">Leaderboard</a></li>
            <li><a href="./registration.html">Registration</a></li>
        </ul>
    </div>
    
    <div class="biologylist">
       
    <h1>One of the things that I am interested
         in is biology</h1>
    <h2>Here are some cool biology facts!</h2>
             <ol >
                 <li>An adult human body is made up of ± 100 trillion cells (100,000,000,000,000)!</li>
                 <li>The Barbados Threadsnake is the smallest snake in the world at just 10cm!</li>  
             </ol>
            </div>
            

            
         <div class="barbados_threadsnakeimage">
             <p>Barbados Threadsnake</p> 
            <img src="https://64.media.tumblr.com/563835504fbf8b661652c1095d6b4651/tumblr_ohik69pZca1uo3rtso1_1280.jpg" alt="Barbados Threadsnake">
         </div>
</body>
</html>