{%extends "layout.html"%}
{%block title%}
Question 5
{%endblock title%}
{%block content%}
<style>
    body{
    background-image: url(../static/questionmark.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    }
</style>
    <div class="quizcontainer">
        <div>

        </div>
        <div class="form">
            <p>5. True or False: Across the globe, the coal industry is declining, while renewable energy industries are on the rise. </p>
        <form action="/q5/" method="POST">
            <div class="field">
                <div class="input">
                    <input type="radio" name="q5" id="opt1" value="1">
                </div>
                <div class="label">
                    <label for="opt1" class="opt1">
                        True
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="input">
                    <input type="radio" name="q5" id="opt2" value="2">
                </div>
                <div class="label">
                    <label for="opt2" class="opt2">
                        False
                </div>
            </div>
            <button type="submit">Submit</button>
        </form>
        <div class="previous">
            <a href="/q4">
                <button>
                    Previous Question
                </button>
            </a>
        </div>
        <div class="next">
            <a href="/q6">
                <button>
                    Next Question
                </button>
            </a>
        </div>
    </div>
</div>
{%endblock content%}