<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="../static/style2.css">
    <style>
        #option1:checked ~ .option-1,
        #option2:checked ~ .option-2,
        #option3:checked ~ .option-3,
        #option4:checked ~ .option-4{
            background-color: darkblue;
            color: white;
        }
    </style>
</head>
<body>
    <div class="quiz-container">
        <p>CLIMATE CHANGE QUIZ</p>
        <div class="quiz-header">
            <h3>Awesome Quiz Application</h3>
            <h3>Score: 0 </h3>
        </div>
        <div class="quizbody">
            <h2>3. Which of the following is a greenhouse gas?</h2>
        </div>
            <form action="/q3" method="post">
                <div>
                    <input type="radio" name="option" id="option1" value="1">
                    <label for="option1" class="option-1">CO2</label>
                </div>
                <div>
                    <input type="radio" name="option" id="option2" value="2">
                    <label for="option2" class="option-2">CH4</label>
                </div>
                <div>
                    <input type="radio" name="option" id="option3" value="3">
                    <label for="option3" class="option-3">Water Vapor</label>
                </div>
                <div>
                    <input type="radio" name="option" id="option4" value="4">
                    <label for="option4" class="option-4">All of the above</label>
                </div>
            </form>
        <div class="quiz-footer">
            <h4>1 of 5 Questions</h4>
            <a href=""><button>Next Question</button></a>
        </div>
    </div>

    
</body>
</html>