<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Team 1</th>
            <th>Team 2</th>
            <th>Team 3</th>
        </tr>
        <tr>
            <td>50</td>
            <td>46</td>
            <td>68</td>
        </tr>
        <tr>
            <td>61</td>
            <td>89</td>
            <td>48</td>
        </tr>
        <tr>
            <td>47</td>
            <td>55</td>
            <td>77</td>
        </tr>
        <tr>
            <td>56</td>
            <td>80</td>
            <td>51</td>
        </tr>
    </table>
</body>
</html>